img {
    height: 200px;
    width: 300px;
}

h1 {
    color: blueviolet;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.btn{
    color: black;
    background-color: #fff;
    border-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}